[Component]
Name = core.inspector
Title = Inspector
Module = inspector
Object = Inspector
Require = core.iblSetsOutliner|factory.preferencesManager
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Inspector core Component.