[Settings]
verbosityLevel=3
restoreGeometryOnLayoutChange=0
deactivatedComponents=

[Layouts]
sets_centric_geometry=
sets_centric_window_state=
sets_centric_central_widget=
sets_centric_activeLabel=
inspect_centric_geometry=
inspect_centric_window_state=
inspect_centric_central_widget=
inspect_centric_activeLabel=
templates_centric_geometry=
templates_centric_window_state=
templates_centric_central_widget=
templates_centric_activeLabel=
preferences_centric_geometry=
preferences_centric_window_state=
preferences_centric_central_widget=
preferences_centric_activeLabel=
startup_centric_geometry=
startup_centric_window_state=
startup_centric_central_widget=false
startup_centric_activeLabel=0
one_geometry=
one_window_state=
one_central_widget=true
one_activeLabel=
two_geometry=
two_window_state=
two_central_widget=true
two_activeLabel=
three_geometry=
three_window_state=
three_central_widget=true
three_activeLabel=
four_geometry=
four_window_state=
four_central_widget=true
four_activeLabel=
five_geometry=
five_window_state=
five_central_widget=true
five_activeLabel=
