.DS_Store
.project
.pydevproject
.settings

*.exe
*.log
*.pyc
*.pyo
*.nsh

references/
releases/Change Log.html
releases/Darwin/
releases/Linux/
releases/repository/
releases/Windows/
src/sibl_gui/resources/images/builders/
src/umbra/resources/images/builders/
support/documentation/sphinx/build
support/documentation/sphinx/source/resources/src
utilities/dmgCanvas/