.DS_Store
.project
.pydevproject
.settings

*.exe
*.log
*.pyc
*.pyo
*.nsh

references/
releases/Change_Log.html
releases/Darwin/
releases/Linux/
releases/repository/
releases/Windows/
sibl_gui/resources/images/builders/
docs/sphinx/build
docs/sphinx/source/resources/packages
utilities/dmgCanvas/