.DS_Store
.project
.pydevproject
.settings

*.exe
*.log
*.pyc
*.pyo
*.nsh

references/
releases/Change Log.html
releases/Darwin/
releases/repository/
releases/Windows/
src/resources/builders/
utilities/dmgCanvas/