[Component]
Name = core.testsComponentA
Module = testsComponentA
Object = TestsComponentA
Rank = 10
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Core Tests Component A.