[Component]
Name = core.componentsManagerUi
Module = componentsManagerUi
Object = ComponentsManagerUi
Rank = 15
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = Components Manager Ui Core Component.