[Component]
Name = addons.sIBLeditUtilities
Title = sIBLedit Utilities
Module = sIBLeditUtilities
Object = sIBLeditUtilities
Require = core.iblSetsOutliner|core.inspector|factory.preferencesManager
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = sIBLedit Utilities addon Component.