[Component]
Name = addons.rawEditingUtilities
Title = Raw Editing Utilities
Module = rawEditingUtilities
Object = RawEditingUtilities
Require = core.iblSetsOutliner|core.inspector|core.templatesOutliner|factory.componentsManagerUi|factory.preferencesManager|factory.scriptEditor
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Raw Editing addon Component.