[Component]
Name = core.collectionsOutliner
Title = Collections Outliner
Module = collectionsOutliner
Object = CollectionsOutliner
Require = core.database
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Collections Outliner core Component.