[Component]
Name = addons.preview
Title = Preview
Module = preview
Object = Preview
Require = addons.locationsBrowser|core.iblSetsOutliner|core.inspector|factory.preferencesManager
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Images Preview addon Component.