[Component]
Name = addons.preview
Title = Preview
Module = preview
Object = Preview
Require = addons.locations_browser|core.ibl_sets_outliner|core.inspector|factory.preferences_manager
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Images Preview addon Component.