/* sIBL_GUI - Stylesheet - Windows Os */

QToolBar {
	background: rgb(192, 192, 192);
	background-image: url(./resources/Toolbar.png);
	spacing: 8px;
}

QToolTip {
	background-color: rgb(230, 230, 230);
}