[Component]
Name = addons.databaseOperations
Title = Database Operations
Module = databaseOperations
Object = DatabaseOperations
Require = core.iblSetsOutliner|core.database|core.templatesOutliner|factory.preferencesManager
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Database Operations addon Component.