[Component]
Name = addons.rewiringTool
Module = rewiringTool
Object = RewiringTool
Rank = 85
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = This is the sIBL_GUI Rewiring Tool Addon Component.