[Tokens]
keywords = "and|as|assert|break|class|continue|def|del|elif|else|except|exec|finally|for|from|global|if|import|in|is|lambda|not|or|pass|print|raise|return|try|while|with|yield"
builtinsExceptions = "ArithmeticError|AssertionError|AttributeError|BaseException|BufferError|BytesWarning|DeprecationWarning|EOFError|EnvironmentError|Exception|FloatingPointError|FutureWarning|GeneratorExit|IOError|ImportError|ImportWarning|IndentationError|IndexError|KeyError|KeyboardInterrupt|LookupError|MemoryError|NameError|NotImplementedError|OSError|OverflowError|PendingDeprecationWarning|ReferenceError|RuntimeError|RuntimeWarning|StandardError|StopIteration|SyntaxError|SyntaxWarning|SystemError|SystemExit|TabError|TypeError|UnboundLocalError|UnicodeDecodeError|UnicodeEncodeError|UnicodeError|UnicodeTranslateError|UnicodeWarning|UserWarning|ValueError|Warning|ZeroDivisionError"
builtinsFunctions = "abs|all|any|apply|basestring|bin|bool|buffer|bytearray|bytes|callable|chr|classmethod|cmp|coerce|compile|complex|copyright|credits|delattr|dict|dir|divmod|enumerate|eval|execfile|exit|file|filter|float|format|frozenset|getattr|globals|hasattr|hash|help|hex|id|input|int|intern|isinstance|issubclass|iter|len|license|list|locals|long|map|max|memoryview|min|next|object|oct|open|ord|pow|print|property|quit|range|raw_input|reduce|reload|repr|reversed|round|set|setattr|slice|sorted|staticmethod|str|sum|super|tuple|type|unichr|unicode|vars|xrange|zip"
builtinsMiscellaneous = "Ellipsis|False|None|True|__debug__|__doc__|__import__|__name__|__package__"
builtinsObjectMethods = "__class__|__delattr__|__doc__|__format__|__getattribute__|__hash__|__init__|__new__|__reduce__|__reduce_ex__|__repr__|__setattr__|__sizeof__|__str__|__subclasshook__"
magicMethods = "__abs__|__add__|__and__|__call__|__cmp__|__coerce__|__complex__|__contains__|__delattr__|__delete__|__delitem__|__delslice__|__del__|__divmod__|__div__|__enter__|__eq__|__exit__|__float__|__floordiv__|__getattribute__|__getattr__|__getitem__|__getslice__|__get__|__ge__|__gt__|__hash__|__hex__|__iadd__|__iand__|__idiv__|__ifloordiv__|__ilshift__|__imod__|__imul__|__index__|__init__|__int__|__invert__|__ior__|__ipow__|__irshift__|__isub__|__iter__|__itruediv__|__ixor__|__len__|__le__|__long__|__lshift__|__lt__|__mod__|__mul__|__neg__|__new__|__ne__|__nonzero__|__oct__|__or__|__pos__|__pow__|__radd__|__rand__|__rcmp__|__rdivmod__|__rdiv__|__repr__|__reversed__|__rfloordiv__|__rlshift__|__rmod__|__rmul__|__ror__|__rpow__|__rrshift__|__rshift__|__rsub__|__rtruediv__|__rxor__|__setattr__|__setitem__|__setslice__|__set__|__str__|__sub__|__truediv__|__unicode__|__xor__"
