[Component]
Name = addons.gpsMap
Title = Gps Map
Module = gpsMap
Object = GpsMap
Require = core.iblSetsOutliner
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Microsoft Bings Maps based geolocalisation addon Component.