[Component]
Name = addons.loggingNotifier
Title = Logging Notifier
Module = loggingNotifier
Object = LoggingNotifier
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Logging Notifier addon Component.