[Component]
Name = core.templatesOutliner
Title = Templates Outliner
Module = templatesOutliner
Object = TemplatesOutliner
Require = core.database|factory.scriptEditor
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Templates Outliner core Component.