[Component]
Name = addons.rewiringTool
Module = rewiringTool
Object = RewiringTool
Rank = 85
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Rewiring Tool addon Component.