[Component]
Name = addons.loaderScriptOptions
Module = loaderScriptOptions
Object = LoaderScriptOptions
Rank = 80
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = Loader Script Options Addon Component.