body {
	text-align: justify;
	font-size: 10pt;
	margin: 10px 10px 10px 10px;
	background-color: rgb(48, 48, 48);
	color: rgb(192, 192, 192);
}
A:link {
	text-decoration: none;
	color: rgb(160, 96, 64);
}
A:visited {
	text-decoration: none;
	color: rgb(160, 96, 64);
}
A:active {
	text-decoration: none;
	color: rgb(160, 96, 64);
}
A:hover {
	text-decoration: underline;
	color: rgb(160, 96, 64);
}