[Component]
Name = addons.about
Module = about
Object = About
Rank = 95
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = About Message Window Addon Component.