[Component]
Name = addons.loaderScriptOptions
Title = Loader Script Options
Module = loaderScriptOptions
Object = LoaderScriptOptions
Require = addons.loaderScript|core.templatesOutliner
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Loader Script Options addon Component.