[Component]
Name = addons.setsScanner
Module = setsScanner
Object = SetsScanner
Rank = 80
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = Startup Sets Scanner Addon Component.