[sIBL_GUI]
Release = 3.0.6
Url = Windows | "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Builds/Windows/Stable/sIBL_GUI.exe" | Mac Os X | "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Builds/Darwin/Stable/sIBL_GUI.dmg" | Linux | "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Builds/Linux/Nightly/sIBL_GUI.tar.gz"
Type = "Stable"

[XSI_MR_Standard]
Release = 1.6.1
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/XSI_MR_Standard/Stable/XSI_MR_Standard.zip"
Comment = "XSI Mental Ray Template : Updates For sIBL_GUI 3.x.x."

[Softimage_MR_Standard]
Release = 1.0.2
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Softimage_MR_Standard/Stable/Softimage_MR_Standard.zip"
Comment = "Softimage Mental Ray Template : Updates For sIBL_GUI 3.x.x."

[Maya_MR_Standard]
Release = 1.7.4
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_MR_Standard/Stable/Maya_MR_Standard.zip"
Comment = "Maya Mental Ray Template : Updates For sIBL_GUI 3.x.x."

[Maya_VRay_Standard]
Release = 1.1.8
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_VRay_Standard/Stable/Maya_VRay_Standard.zip"
Comment = "VRay For Maya Template : Fixed An Execution Error When A Camera Is Parented Inside 'sIBL' Group."

[Maya_VRay_Dome_Light]
Release = 1.1.8
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_VRay_Dome_Light/Stable/Maya_VRay_Dome_Light.zip"
Comment = "VRay For Maya Dome Light Template : Updates For sIBL_GUI 3.x.x."

[Maya_Turtle_Standard]
Release = 1.2.0
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_Turtle_Standard/Stable/Maya_Turtle_Standard.zip"
Comment = "Maya Turtle Template : Updates For sIBL_GUI 3.x.x."

[Maya_RfM_Standard]
Release = 1.0.8
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_RfM_Standard/Stable/Maya_RfM_Standard.zip"
Comment = "Renderman For Maya Template : Updates For sIBL_GUI 3.x.x."

[3dsMax_MR_Standard]
Release = 1.0.3
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_MR_Standard/Stable/3dsMax_MR_Standard.zip"
Comment = "3dsMax Mental Ray Template : Various Updates And Fixes."

[3dsMax_Scanline_Standard]
Release = 0.9.9
Type = "Nightly"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_Scanline_Standard/Nightly/3dsMax_Scanline_Standard.zip"
Comment = "3dsMax Scanline Template : Updates For sIBL_GUI 3.x.x."

[3dsMax_VRay_Standard]
Release = 1.0.4
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_VRay_Standard/Stable/3dsMax_VRay_Standard.zip"
Comment = "3dsMax VRay Template : Shadow Catching Ground Is Hidden In Reflections / Refractions."