[sIBL_GUI]
Release = 3.0.1
Url = Windows | "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Builds/Windows/sIBL_GUI.exe" | Mac Os X | "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Builds/MacOsX/sIBL_GUI.dmg" | Linux | "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Builds/Linux/sIBL_GUI.tar.gz"
Type = "Stable"

[XSI_MR_Standard]
Release = 1.5.8
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/XSI_MR_Standard.zip"
Comment = "XSI Mental Ray Template : Update For sIBL_GUI 3.x.x."

[Maya_MR_Standard]
Release = 1.7.0
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_MR_Standard.zip"
Comment = "Maya Mental Ray Template : Update For sIBL_GUI 3.x.x."

[Maya_VRay_Standard]
Release = 1.1.4
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_VRay_Standard.zip"
Comment = "VRay For Maya Template : Update For sIBL_GUI 3.x.x."

[Maya_VRay_Dome_Light]
Release = 1.1.4
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_VRay_Dome_Light.zip"
Comment = "VRay For Maya Dome Light Template : Update For sIBL_GUI 3.x.x."

[Maya_Turtle_Standard]
Release = 1.1.6
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_Turtle_Standard.zip"
Comment = "Maya Turtle Template : Update For sIBL_GUI 3.x.x."

[Maya_RfM_Standard]
Release = 1.0.4
Type = "Stable"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/Maya_RfM_Standard.zip"
Comment = "Renderman For Maya Template : Update For sIBL_GUI 3.x.x."

[3dsMax_MR_Standard]
Release = 0.9.9
Type = "Nightly"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_MR_Standard.zip"
Comment = "3dsMax Mental Ray Base Template : Update For sIBL_GUI 3.x.x."

[3dsMax_Scanline_Standard]
Release = 0.9.9
Type = "Nightly"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_Scanline_Standard.zip"
Comment = "3dsMax Scanline Ray Base Template : Update For sIBL_GUI 3.x.x."

[3dsMax_VRay_Standard]
Release = 0.9.8
Type = "Nightly"
Url = "http://kelsolaar.hdrlabs.com/sIBL_GUI/Repository/Templates/3dsMax_VRay_Standard.zip"
Comment = "3dsMax VRay Base Template : Update For sIBL_GUI 3.x.x."