[Settings]
verbosityLevel=3
restoreGeometryOnLayoutChange=0
deactivatedComponents=

[Layouts]
developmentCentric_geometry=
developmentCentric_windowState=
developmentCentric_centralWidget=false
developmentCentric_activeLabel=0
preferencesCentric_geometry=
preferencesCentric_windowState=
preferencesCentric_centralWidget=false
preferencesCentric_activeLabel=1
startupCentric_geometry=
startupCentric_windowState=
startupCentric_centralWidget=true
startupCentric_activeLabel=0
one_geometry=
one_windowState=
one_centralWidget=true
one_activeLabel=
two_geometry=
two_windowState=
two_centralWidget=true
two_activeLabel=
three_geometry=
three_windowState=
three_centralWidget=true
three_activeLabel=
four_geometry=
four_windowState=
four_centralWidget=true
four_activeLabel=
five_geometry=
five_windowState=
five_centralWidget=true
five_activeLabel=
