[Component]
Name = addons.about
Title = About
Module = about
Object = About
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = About message window addon Component.