[Component]
Name = addons.preview
Module = preview
Object = Preview
Rank = 85
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = Image Preview Addon Component.