[Component]
Name = addons.gpsMap
Module = gpsMap
Object = GpsMap
Rank = 75
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = This is the sIBL_GUI Gps Map Addon Component.