[Component]
Name = addons.database_operations
Title = Database Operations
Module = database_operations
Object = DatabaseOperations
Require = core.ibl_sets_outliner|core.database|core.templates_outliner|factory.preferences_manager
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Database Operations addon Component.