[Component]
Name = core.db
Module = db
Object = Db
Rank = 5
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = kelsolaar_fool@hotmail.com
Url = http://www.hdrlabs.com/
Description = Database Core Component.