[Component]
Name = core.inspector
Module = inspector
Object = Inspector
Rank = 45
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Inspector Core Component.