[Component]
Name = core.iblSetsOutliner
Title = Ibl Sets Outliner
Module = iblSetsOutliner
Object = IblSetsOutliner
Require = core.collectionsOutliner|core.database|factory.scriptEditor
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Ibl Sets Outliner core Component.