[Component]
Name = addons.ibl_sets_scanner
Title = Ibl Sets Scanner
Module = ibl_sets_scanner
Object = IblSetsScanner
Require = core.ibl_sets_outliner|core.collections_outliner
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Ibl Sets Scanner addon Component.